/*---------------------*\
   MEDIA QUERIES MOBILE
\* --------------------*/ 

@media screen and (min-width: 0px) and (max-width: 767px) {
    .Container {
        flex-wrap: wrap;
    }    

    .portraitFP, .pc {
        flex-wrap: wrap;
        max-width: 40%;
        
    }
    

}


/*---------------------*\
   MEDIA QUERIES IPAD
\* --------------------*/ 

@media screen and (min-width: 768px) and (max-width: 1180px) {
    .Container {
        flex-wrap: wrap;
    }    

    .portraitFP, .pc {
        flex-wrap: wrap;
        max-width: 40%;
        
    }
    
  
}


/*---------------------*\
   MEDIA QUERIES DESKTOP
\* --------------------*/ 

@media screen and (min-width: 1180px){
.Container {
    flex-wrap: wrap;
}    

.portraitFP, .pc {
    flex-wrap: wrap;
    max-width: 40%;
    
}

}



/*---------------------*\
  MEDIA QUERIES PROJECTS 
\* --------------------*/



@media only screen and (min-width: 0px) and (max-width: 1180px) {
    
img {
    flex-wrap: wrap;
    width: 20%;
    height: inherit;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.info {
    background-color: aquamarine;
    margin: 0 10% 5%;
}

.card{
    display: flex;
}
   

@media only screen and (min-width: 0px) and (max-width: 767px) {
   
img {
    width: 35%;
    height: inherit;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.info {
    background-color: aquamarine;
    margin: 0 10% 5%;
}

.card{
    display: flex;
}
@media only screen and (min-width: 768px) and (max-width: 1180px) {

    
img {
    width: 35%;
    height: inherit;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.info {
    background-color: aquamarine;
    margin: 0 10% 5%;
}

.card{
    display: flex;
}
