
/*---------------------*\
     FONT FAMILIES  
\* --------------------*/ 
/*
font-family: 'Fira Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'Work Sans', sans-serif;*/


.portraitFP, .pc {
    display: flex;
    width:fit-content;
    height: fit-content;
    width: 20%;
    height: 20%;
    max-width: 50%;
    max-height: 50%;
    padding: 20px 100px;
    border-radius: 50%;
    max-width: 100%;
}

body {
    font-family: Permanent Marker, Geneva, Tahoma, sans-serif;
    background-color: rgb(211, 211, 211); 
    margin: 0 auto;  
}

.container {
    margin: 10%;
}
.AnaCas{
    display: flex;
    align-items: center;
    gap: 10%;
  }

  .linksGL{
    margin: 2rem 35rem;
}

.feu {
    display: flex;
    margin: 0 20%;
}

.myinfo{
    display: inherit;
    margin: 0 15%;
}

.linksGL{
    margin: 2rem 35rem;
    width: 10%;
}


a {
    text-decoration: none;
    color: black;
}

.projects:hover {
    text-decoration: overline;
    color: rgb(2, 7, 40);
    font-size: 3rem;
}

.office{
    display: flex;
}



/*
/*---------------------*\
 VISIT CARD FRONT SIDE 
\* --------------------*

body {
    font-family: Permanent Marker, Geneva, Tahoma, sans-serif;
    background-color: rgb(211, 211, 211); 
    margin: 0 auto;  
}

.container {
    border: 5px solid black;
    border-radius: 20px;  
    background-color: rgb(204, 221, 236);
    display: flex;
    margin: 4rem;
    width: 90%; 
    height: fit-content;
    margin: 0 auto;  
  }

  .vcFront{
    margin: 0;
    flex-basis: 75%;
  }

  .AnaCas{
    display: flex;
    align-items: center;
    gap: 10%;
  }

  .linksGL{
    margin: 2rem 35rem;
}

.linksGL i {
    font-size: 2rem;
}

.netlify{
    object-fit: contain;
    width: 5%;
    height: 5%;
}
.feu {
    display: flex;
    margin: 0 20%;
}

.myinfo{
    display: inherit;
    margin: 0 15%;
}

.office {
    display: flex;
}

  /*---------------------*\
    CSS PICTURES 
\* -------------------- 

.portraitFP, .pc {
    display: flex;
    width:fit-content;
    height: fit-content;
    width: 20%;
    height: 20%;
    max-width: 50%;
    max-height: 50%;
    padding: 20px 100px;
    border-radius: 50%;
    max-width: 100%;
    
}

.lionLeft, .lionRight {    
    margin-left: auto;
    flex-basis: 25%;
    object-fit: cover;
}

.lion2left, .lion2right {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.projectimg{
    border-radius:20px;
    width:10%;
}

/*---------------------*\
    COMMON CSS DRY
\* -------------------- 

a {
    text-decoration: none;
    color: black;
}

.projects:hover {
    text-decoration: overline;
    color: rgb(2, 7, 40);
    font-size: 10rem;
}

h1{
    font-size: 15rem;
}
h2{
    font-size: 7rem;
}
p{
    font-size: 5rem;
}
*/
/*---------------------*\
     
\* --------------------*/ 

/*---------------------*\
     
\* --------------------*/ 
