
/*---------------------*\
     FONT FAMILIES  
\* --------------------*/ 
/*
font-family: 'Fira Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'Work Sans', sans-serif;*/


/*---------------------*\
 VISIT CARD FRONT SIDE 
\* --------------------*/ 
body {
    font-family: Permanent Marker, Geneva, Tahoma, sans-serif;
    background-color: rgb(111, 101, 101);   
}

.container {
    border: 5px solid black;
    border-radius: 20px;  
    background-color: rgb(204, 221, 236);
    display: flex;
    margin:0;
    width: 80%; 
    height: inherit;
  }

  .vcFront{
    margin: 0;
    flex-basis: 75%;
}
  
/*---------------------*\
    CSS PICTURES 
\* --------------------*/ 

.portrait, .pc {
    width:fit-content;
    height: fit-content;
    width: 75px;
    height: 100px;
    max-width: 50%;
    max-height: 50%;
    padding: 20px 100px;
    border-radius: 50%;
    max-width: 100%;
    
}

.portrait {
    margin: 3rem 2rem;
}

.pc {
    margin: 0 2rem;
}

.lionLeft, .lionRight {    
    margin-left: auto;
    flex-basis: 25%;

}

.lion2left, .lion2right {
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

.projectimg{
    border-radius:20px;
    width:10%;
}


/*---------------------*\
    COMMON CSS DRY
\* --------------------*/ 

a {
    text-decoration: none;
    color: black;
}

.projects:hover {
    text-decoration: overline;
    color: rgb(4, 23, 170);
    font-size: 3rem;
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
p{
    font-size: 1rem;
}

/*---------------------*\
    SECTION INFORMATION
\* --------------------*/ 

.section1{
    justify-content: center;
    align-items: center;
    margin: 0 3rem;
}

.myName{
    margin-bottom: 0; 
}

.feu{
    margin-top: 0;
}

.section2{
    display:flex;
}

.myinfo {
    margin: 0 2rem;
}

.learner {
    display:flex;
    justify-content: center;
    align-items: center;

}

.icon {
    width: 5%;
    margin-left: 1rem;
    font-size: 2rem;
}

.icon:hover {
    color: rgb(18, 47, 237);
    font-size: 3rem;
}

.section3{
    display:flex;
}

.projects {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 3rem;
}

/*---------------------*\
       PROJECTS 
\* --------------------*/ 
.vcproject{
    margin: 0;
    flex-basis: 25%;
    
}


.projectContainer {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
}
.project {
    display: flex;
    border: 2px solid black ;
    border-radius: 20px;
    background-color: aquamarine;
    width: 75%;
    height: 30%;
    margin: 0.5rem 4rem 0.5rem 4rem;
}

.project-link{
    background-color: azure;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem; 
}

.projectimg{
    display: flex;
    background-color: blueviolet;
    width:100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}


/*---------------------*\
    PROJECT CARD
\* --------------------*/ 

.cards {
    border: 1px solid black;
    border-radius: 20px;
}

.projectimgcontainer{
    background-color: rgb(159, 51, 143);
    flex-basis: 25%;
    border-radius: 20px;
    overflow: auto;
}

.projectinfo{
    background-color: blue;
    border-radius:20px;
    flex-basis: 75%;
    margin: 0 1rem;
}

.infotitle {
    font-size: 1rem;
}

.infotext {
    font-size: 0.5rem;
}



/*---------------------*\
     FOOTER
\* --------------------*/ 

.footer {
    background-color: red;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: right;
    margin: 1rem;

}


.linkFront{
    background-color: antiquewhite;
    margin:0;
    padding: 0;

}

/*
.linkFront {
    background-color: aqua;
    position: absolute;
    top:1rem;
    left: 1rem;
    width: 100%;
    height: 100%;
    background-size: cover;
}
/*---------------------*\
            NAV
\* --------------------*/ 

/*---------------------*\
            NAV
\* --------------------*/ 

/*---------------------*\
            NAV
\* --------------------*/ 


/*---------------------*\
     MEDIA QUERY    
\* --------------------*/ 

/* mobile */
@media (max-width: 767px) {
  flex-wrap: wrap;

    width: 20%;
    height: inherit;
  }
}

/* tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    flex-wrap: wrap;
}

/* desktop */
@media (min-width: 1024px) {
    flex-wrap: wrap;
}


